<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist/Category</title>
  </head>
  <body>
    <div>
      <%- include('header') %> <%- include('sidebar') %>
      <h1>All records for <%= locals.artist %></h1>
      <% if (locals.records) { %>
      <ul>
        <% locals.records.map(record => { %>
        <li><%= record.title %></li>
        <li><%= record.artist %></li>
        <li><%= record.yr %></li>
        <li><%= record.label %></li>
        <li><%= record.genre %></li>
        <button class="update">
          <a href="./<%= record.artist %>/<%= record.id %>/update">Update</a>
        </button>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
