<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist/Category</title>
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/sidebar.css" />
    <link rel="stylesheet" href="/category.css" />
  </head>
  <body>
    <%- include('header') %>
    <div id="display">
      <%- include('sidebar', { artists: artists }) %>
      <div class="content">
        <div class="content-header">
          <h1>All records by <%= locals.artist.name %></h1>
          <a href="/artists/<%= locals.artist.artist_id  %>/update">
            <button>Update artist</button>
          </a>
          <form action="./<%= locals.artist.artist_id %>/delete" method="post">
            <button
              type="submit"
              name="artist_id"
              value="<%= locals.artist.artist_id %>"
            >
              Delete artist
            </button>
          </form>
          <a href="/artists/<%= locals.artist.artist_id %>/new"
            ><button>+</button></a
          >
        </div>
        <div id="artist-records">
          <% if (locals.records) { %> <% locals.records.forEach(record => { %>
          <a href="/artists/<%= record.artist_id %>/<%= record.id %>">
            <div class="record-item">
              <img class="record-art" src="<%= record.art %>" alt="" />
              <ul class="record-info">
                <li class="record-title"><%= record.title %></li>
              </ul>
            </div>
          </a>
          <% })} %>
        </div>
      </div>
    </div>
  </body>
</html>
