<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist/Category</title>
  </head>
  <body>
    <div>
      <%- include('header') %> <%- include('sidebar', {artists: artists}) %>
      <h1>All records for <%= locals.artist.name %></h1>
      <form action="/delete" method="post">
        <button
          name="artist_id"
          value="<%= locals.artist.artist_id %>"
          type="submit"
        >
          Delete artist
        </button>
      </form>
      <a href="/artists/<%= locals.artist.artist_id %>/update"
        ><button>Update artist name</button></a
      >
      <a href="/artists/<%= locals.artist.artist_id %>/new"
        ><button>Add record</button></a
      >
      <% if (locals.records) { %>
      <ul>
        <% locals.records.map(record => { %>
        <li><%= record.title %></li>
        <li><%= record.yr %></li>
        <li><%= record.label %></li>
        <li><%= record.genre %></li>
        <button class="update">
          <a
            href="/artists/<%= locals.artist.artist_id %>/<%= record.id %>/update"
            >Update</a
          >
        </button>
        <form action="/artists/<%= locals.artist.artist_id %>" method="post">
          <button
            class="delete"
            name="record_id"
            value="<%= record.id %>"
            type="submit"
          >
            Delete
          </button>
        </form>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
