<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div>
      <%- include('header') %> <%- include('sidebar', { artists: artists }) %>
      <h1>All records view</h1>
      <ul>
        <% locals.records.forEach(record => { %>
        <li><%= record.title %></li>
        <li><%= record.artist %></li>
        <li><%= record.yr %></li>
        <li><%= record.label %></li>
        <li><%= record.genre %></li>
        <% }) %>
      </ul>
      <button id="new_category_button">Add category</button>
      <%- include('newCategoryModal') %>
    </div>
    <script>
      const newCategoryModal = document.querySelector("#new_category_modal");
      const modalButton = newCategoryModal.querySelector("button");
      const newCategoryButton = document.querySelector("#new_category_button");

      newCategoryButton.addEventListener("click", () => {
        newCategoryModal.showModal();
      });
      modalButton.addEventListener("click", () => newCategoryModal.close());
    </script>
  </body>
</html>
