<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update record</title>
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/sidebar.css" />
    <link rel="stylesheet" href="/forms.css" />
  </head>
  <body>
    <%- include('header') %>
    <div id="display">
      <%- include('sidebar', { artists: artists }) %>
      <div class="content">
        <div class="content-header">
          <h1>Update info for <%= record.title %></h1>
        </div>
        <%- include('errors') %>
        <div class="update-content">
          <div class="img-wrapper sqaure">
            <img src="<%= record.art %>" alt="" />
          </div>
          <form
            action="./update"
            method="post"
            id="update-record-form"
            class="record-form"
          >
            <div id="update-record-title" class="form-row record-title">
              <label for="record_title">Record title: </label>
              <input
                type="text"
                name="record_title"
                id="record_title"
                value="<%= locals.record.title %>"
              />
            </div>
            <div id="update-record-year" class="form-row update-year">
              <label for="record_year">Release year: </label>
              <input
                type="text"
                name="record_year"
                id="record_year"
                value="<%= locals.record.yr %>"
              />
            </div>
            <div id="update-record-label" class="form-row update-label">
              <label for="record_label">Label: </label>
              <input
                type="text"
                name="record_label"
                id="record_label"
                value="<%= locals.record.label %>"
              />
            </div>
            <div id="update-record-genre" class="form-row update-genre">
              <label for="record_genre">Genre: </label>
              <input
                type="text"
                name="record_genre"
                id="record_genre"
                value="<%= locals.record.genre %>"
              />
            </div>
            <div id="update-record-art" class="form-row update-art">
              <label for="record_art">URL for album art: </label>
              <input
                type="text"
                name="record_art"
                id="record_art"
                value="<%= locals.record.art %>"
              />
            </div>
            <button
              type="submit"
              name="record_id"
              value="<%= locals.record.id %>"
              class="submit"
            >
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
