<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update artist name</title>
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/sidebar.css" />
    <link rel="stylesheet" href="/forms.css" />
  </head>
  <body>
    <%- include('header') %>
    <div id="display">
      <%- include('sidebar', { artists: artists }) %>
      <div class="content">
        <h1>Update info for <%= artist.name %></h1>
        <form
          action="./update"
          method="post"
          id="new-artist-form"
          class="artist-form"
        >
          <div id="update-artist-name" class="form-row artist-name">
            <label for="update_artist">Artist name: </label>
            <input
              type="text"
              name="update_artist"
              id="update_artist"
              value="<%= artist.name %>"
            />
          </div>
          <div id="update-artist-img" class="form-row artist-img">
            <label for="update_artist_img">URL for artist image: </label>
            <input
              type="text"
              name="update_artist_img"
              id="update_artist_img"
              value="<%= artist.img %>"
            />
          </div>
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
  </body>
</html>
