<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update artist name</title>
  </head>
  <body>
    <%- include('header') %> <%- include('sidebar') %>
    <h1>Update artist name for <%= artist.name %></h1>
    <form action="./update" method="post">
      <label for="update_artist">Artist name: </label>
      <input
        type="text"
        name="update_artist"
        id="update_artist"
        value="<%= artist.name %>"
      />
      <button
        type="submit"
        name="update_artist_id"
        value="<%= artist.artist_id %>"
      >
        Update
      </button>
    </form>
  </body>
</html>
